{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
    <div class="container align-items-center">
        <form method="post" role="form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if is_granted('ROLE_VERIFIED') %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <h1 class="mb-3 font-weight-normal justify-content-center">Connexion</h1>
            <div class= "mb-3">
                <label for="username">Username</label>
                <input
                    type="text"
                    value="{{ last_username }}"
                    name="_username"
                    id="username"
                    class="form-control"
                    autocomplete="username"
                    required
                    autofocus
                    aria-label="username"
                    aria-description="Veuillez fournir votre nom d'utilisateur"
                >
            </div>
            <div class= "mb-3">
                <label for="password">Password</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password"
                    aria-label="password"
                    aria-description="Veuillez fournir votre mot de passe"
                    required
                    {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {
                        visibleLabel: 'Afficher',
                        visibleIcon: 'Default',
                        hiddenLabel: 'Masquer',
                        hiddenIcon: 'Default',
                        buttonClasses: ['toggle-password-button'],
                        })
                    }}
                >

            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="_remember_me"  > Se souvenir de moi
                </label>
            </div>
            <div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
            </div>
            <div class="col d-grid gap-2 d-md-flex justify-content-md-center">
                <a
                    type='button' href='{{ path('home') }}'
                    class='btn btn-secondary align-content-center'
                    role='button'
                    aria-label="cancel"
                    aria-description="Bouton pour annuler la connection et renvoie à la page d'accueil"
                >
                    Annuler
                </a>
                <button
                    class="btn btn-lg btn-primary"
                    type="submit"
                    aria-label="se connecter"
                    aria-description="Bouton pour valider et envoyer les données"
                >
                    Se connecter
                </button>
            </div>
        </form>
        <div>
            <a
                href={{ path('app_forgot_password_request') }}
                aria-label="lien mot de passe ooublié"
                aria-description="Lien si le mot de passe est oublié, renvoie vers une page pour réinitialiser le mot de passe."
            >
                Mot de passe oublié?
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}

